<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>FizzBuzz応用問題</title>
  </head>
  <body>

    <form method="get" action="./exercise_fizzbuzz_2.php">
      <ul>
        <li>
          From: <input name="from" type="text" />
        </li>
        <li>
          To: <input name="to" type="text" />
        </li>
      </ul>
      <input type="submit">
    </form>

<?php
if ($fizzBuzz) {
  echo '<div>';
  foreach ($fizzBuzz as $value) {
    echo htmlspecialchars($value, ENT_COMPAT | ENT_HTML5 | ENT_QUOTES) . '<br>';
  }
  echo '</div>';
}
?>

  </body>
</html>
