<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<h1>完了したTODO</h1>

<table>
  <tr>
    <th>登録日</th>
    <th>優先度</th>
    <th>内容</th>
    <th>完了日</th>
  </tr>
<?php

  foreach ($doneList as $list) {
?>
  <tr>
    <td><?php echo _e($list['created_at']);?></td>
    <td><?php echo _e($priorityDb->getPriorityById($list['priority']));?></td>
    <td><?php echo _e($list['todo']);?></td>
    <td><?php echo _e($list['completion']);?></td>
  </tr>

<?php
  }
?>
</table>

<ul>
  <li><a href="./">戻る</a></li>
</ul>

</body>
</html>
